.center{
    text-align: center;
}

.center-item {
    align-items: center;
}

.full-height{
    height: 100%;
}

body{
    font-family: Josefin Sans;
}

a{
    text-decoration: none;
    color: #7c7171;
}