




html {
  font-size: 10px
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans';
}

@media screen and (max-width:1650px) {
  html {
    font-size: 8px
  }
}

@media screen and (max-width:1000px) {
  html {
    font-size: 7px
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}


@media screen and (max-width:600px) {
  html {
    font-size: 9px
  }
}

.header,
.border-box,
.clearfix-after,
.row,
ol ol,
ol ul,
ul ol,
ul ul,
li,
ol,
ul {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}


.full-height {
  height: 100%;
}



.text-blue {
  color: #5ae4ce !important;
}

.lp-resume {
  height: 300px;
}

@media only screen and (max-width: 1650px) {
  #main .section {
    padding-top: 2.75rem;
  }
}
.btn {
  position: relative;
  width: 100%;
  height: 4.7rem;
  background: linear-gradient(45deg, #1DBFAF 0, #1EAEDB 85%, #1EAEDB 100%);
  color: white;
  padding: 1%;
  border-radius: 0.6rem;
  border: none;
}

@media (hover: hover) {
  .btn:hover {
    color: black;
    background: white;
    border: 2px solid #5ae4ce;
  }
}



.regular-font,
.text-p-size,
a,
a span,
p,
p span,
span {
  margin-top: 0;
  line-height: 1.48
}

@media only screen and (max-width:600px) {

  .regular-font,
  .text-p-size,
  a,
  a span,
  p,
  p span,
  span {
    line-height: 1.3
  }
}


a {
  text-decoration: none;
  color: #1DBFAF;
  outline: #1DBFAF
}

a i,
a span {
  cursor: pointer
}

.text-p-size,
a,
a span,
p,
p span {
  font-size: 2.1rem
}



.text-bolded,
.text-bolded i,
.text-bolded p,
.text-bolded span,
h1,
h1 i,
h1 p,
h1 span {
  font-size: 3.4rem;
  font-family: Cabin, sans-serif;
  font-weight: 600;
  line-height: 1.3
}

h2 {
  font-size: 3.5rem;

}

h3 {
  font-size: 3.2rem;

}

h4 {
  font-size: 3.2rem;

}

h5 {
  font-size: 3rem;

}

h6 {
  font-size: 2.8rem;

}


.text-large {
  font-size: 2.6rem;
}

.text-h1-size {
  font-size: 3.4rem;
  line-height: 1.3
}

span {
  font-size: 2rem;
  font-weight: 200;
}

p {
  font-size: 2rem;
}

.text-bolded,
h1 {
  margin-top: 0;
  text-align: center
}

.text-bolded i,
.text-bolded p,
.text-bolded span,
h1 i,
h1 p,
h1 span {
  margin-bottom: 0 !important
}

.about-page .contact-section {

  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.about-page .contact-left-section {
  width: 50%;


}

.about-page .about-us-img {
  height: 300px;
}

.about-page .contact-right-section {
  width: 45%;
}

.container {
  padding-top: 56px;
  width: 100%;
  &.med {
    width: 90%;
    margin: 0px 5%;
  }  
}

.container
.container .section {
  width: 100%;
  padding-top: 20px;
}


.styleTemplate {
  display: flex;
  flex-wrap: wrap;
}

.template-card {
  flex: 1 0 20%;
  /* explanation below */
  margin: 12px;
  height: 360px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);

}

.template-card:hover {
  //  background: rgb(9 51 107 / 89%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  /* transition: 0.5s; */
  /* width: 100%; */
  z-index: 84;
  opacity: 0.8;
}

.template-card img {
  flex: 1 0 20%;
  /* explanation below */
  margin: 5px;
  height: 300px;
  width: 100%;
}

.template-card button {
  border: none;
  border: none;
  padding: 5%;
  border-radius: 5px;
  background: linear-gradient(45deg, #1DBFAF 0, #1EAEDB 85%, #1EAEDB 100%);
  color: white;
  border-radius: 0.6rem;
  position: relative;
  top: -190px;
  align-items: center;
  left: 16%;
  width: 66%;
  z-index: 1000;
}

.template-card button:hover {
  display: block;
}

.rounded-border {
  border-radius: 5%;
}

.funnel-section {
  display: flex;
  flex-direction: row;
  //min-height: 800px;
  justify-content: space-between;
}

.form-card {
  width: 55%;

  box-shadow: 0 2px 9px rgba(186, 186, 186, 0.5);
}

.preview-card {
  width: 40%;
  background-color: white;
  box-shadow: 0 2px 9px rgba(186, 186, 186, 0.5);
}

.form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form-heading {
  font-size: 3.5rem;
}

.input-group {
  width: 44%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem
}

.input-group.full {
  width: 94%;
}

.input-group label {
  font-size: 2rem;
  font-weight: 500;
  color: #597181;
  margin-bottom: 4px
}

.input-group .effect {
  position: relative;
  overflow: hidden;
  border-radius: 4px
}

.input-group .effect>span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #5ae4ce;
  transform: scaleY(0);
  transition: transform .15s ease-in-out;
  transform-origin: center
}

.input-group .effect .icon {
  display: block;
  position: absolute;
  left: 12px;
  top: 10px;
  height: 100%
}

.input-group .effect .icon svg {
  width: 16px;
  height: 16px;
  color: rgba(52, 88, 218, .2)
}

.input-group .effect .icon svg.green {
  color: #03ad03 !important
}

.input-group .effect input:focus+span {
  transform: scaleY(1);
  border: none;
}

.input-group .effect input:focus+span+.icon svg {
  color: #5ae4ce
}

input {
  outline: none !important;
}

.input-group input {
  border: none;
  background-color: #f2f5fa;
  padding: 15px 1rem;
  border-radius: 4px;
  font-size: 1.5rem;
  color: #545d69;
  font-weight: 500;
  transition: all .2s ease-in-out;
  border-left: 0 solid #3458da;
 // width: 100%
}

.input-group .error {
  margin-top: 3px;
  color: #ff4848;
  font-size: .8rem
}

.input-group.iconned input {
  padding-left: calc(1rem + 22px)
}

.form-buttons {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

}

.form-buttons .btn {
  margin: 20px 0px;
}

.form-buttons .btn-back {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-top: 20px 0px;
}

.skin1 {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2%;
  font-weight: 300;
}

.skin1 h3 {
  margin: 10px
}

.skin1 p {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin: 6px;
}

.skin1 .resume-name {
  color: #1EAEDB;
}

.heading-underline {
  line-height: 20px !important;
  color: #333;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 19px, #5ae4ce 20px);
  font-weight: 400;
  color: #64e5d1;
}

.upper {
  text-transform: uppercase;
}

.hide {
  display: none;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.skin2 {
  font-family: 'Nunito', sans-serif;
  padding: 2%;
  font-weight: 300;
}

.skin2 .resume-header {
  display: flex;
  flex-direction: row;
}

.skin2 .resume-name {
  font-size: 2.2rem;
}

.skin2 .name-profession {
  width: 60%;
}

.skin2 .contact-details {
  width: 40%;

}

.skin2 h3 {
  margin: 10px
}

.skin2 h4 {
  font-size: 2rem;
}

.skin2 p {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 6px;
}

.skin2 .resume-name {
  color: #1EAEDB;
}

.skin2 .details {
  display: flex;
  flex-direction: row;
}

.skin2 .details .detail-section {
  width: 50%;
}

.heading-underline {
  line-height: 20px !important;
  color: #333;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 19px, #5ae4ce 20px);
  font-weight: 600;
  color: #64e5d1;
}

.finalize-page {
  .finalize-preview-card {
    width: 60%;
  }


  .template-card {
    flex: 1 0 40%;
    margin: 12px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  }
}

.template-card {
  .selected {

    font-size: 2rem;
    color: green;
    position: relative;
    top: 3%;
    left: 2%;
    /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25); */
    text-shadow: 2px 2px #e2c5c5;
  }
}

.finalize-settings {
  width: 40%;
}