.header {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9990;
    background-color: #FFF;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
    padding: 0 3rem 0 2.6rem;
    height: 55px;

    .logo {
        position: absolute;
        left: 0;
        width: 59px;
        height: 50px;
        top: 30%;
        margin-top: -13px;
        background: url(/images/logo.png) no-repeat;
        background-size: 59px 50px
    }

    .btnv-1,
    .btnv-3 {
        font-size: 2.1rem !important;
        padding: .7rem 1.5rem !important;
    }
}

.nav {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    z-index: 9999999999;
    position: relative;
     a {
        color: #303D46;
        white-space: nowrap;
        line-height: 1;
        text-decoration: none !important
    }

    ul {
        width: 100%;
        margin: 0 auto;
        height: 100%;
        z-index: 9999999999;
        position: relative;
        float: right;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        flex: 1;
        margin-bottom: 0;
        width: auto

    }

    li {
        vertical-align: middle;
        display: inline-block;
        height: auto;
        margin-bottom: 0;
        padding: 2rem;
        box-sizing: border-box;
        width: auto;
        z-index: 9999;
        
    } 

    .signin {
        padding-left: 0;
        padding-right: 0;

        a:hover {
            color: black !important;
        }
    }

    .signup {
        border: 2px solid #5ae4ce;
        padding: 7px !important;
        border-radius: 0.6rem;
        a:hover {
            color: white !important;
        }
        &:hover {
            background: linear-gradient(45deg, #1DBFAF 0, #1EAEDB 85%, #1EAEDB 100%);
        }
    }


    a:hover {
        color: #5ae4ce;
        text-decoration: underline red;
    }
}










